.card-container {
    display: inline-block;
   
    align-items: center;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    background-color: #191919;
    color: #fff;
    margin: 0 auto;
    margin-right: 10px;
  }
  
  .card-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
    border: 3px solid #44c7f4;
  }
  
  .card-container h2 {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
  }
  
  .card-container:hover h2 {
    opacity: 1;
  }
  
  .card-container.showH2 h2 {
    opacity: 1;
  }
  
  .card-container h2:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: #44c7f4;
    border-radius: 50%;
  }
  
  .card-container h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .card-container h2:nth-of-type(1):before {
    background-color: #f44336;
  }
  
  .card-container h2:nth-of-type(2):before {
    background-color: #ffeb3b;
  }
  
  .card-container h2:nth-of-type(3):before {
    background-color: #4caf50;
  }
  
  .card-container h2:nth-of-type(4):before {
    background-color: #9c27b0;
  }
  
  .isFavButton {
    background-color: transparent;
    border: none;
    font-size: 28px;
    margin-top: -150px;
    margin-left: -15px;
    cursor: pointer;
    color: whitesmoke;
    transition: color 0.3s ease-in-out;
  }
  
  .isFavButton:hover {
    color: #44c7f4;
  }
  
  .kickButton {
    background-color: #ffeb3b;
    border: none;
    border-radius: 50%;
    color: #191919;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    margin-top: -15px;
    margin-left: -10px;
    
    position: absolute;
    transition: background-color 0.3s ease-in-out;
    width: 30px;
  }
  
  .kickButton:hover {
    background-color: #f44336;
  }
  